<!DOCTYPE html>   
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Planet of the Universe</title>
		<meta name="viewport" content="width=device-width; initial-scale=1.0">
		<!-- CSS Stylesheet -->
		<link rel="stylesheet" href="{{site.baseurl}}/css/common.css">
	</head>
	<body>
		
		<header>
			<h1>Planet of the Universe</h1>
			
			{% include nav.html %}
				
			
		</header>
		
		{{content}}
		{% include nav.html %}
		
		<footer>
			<p>&copy 2013 Planets in the Universe</p>
		</footer>
		
	</body>
</html>